<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ModdedItemPoolEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ModdedItemPoolEditor.Properties.Settings>
            <setting name="ListItemNames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PoolItemNames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoLoadPools" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IconSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowHiddenItems" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowDuplicates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowDuplicates" serializeAs="String">
                <value>False</value>
            </setting>
        </ModdedItemPoolEditor.Properties.Settings>
    </userSettings>
</configuration>